{% if section.settings.gridColCheckbox != blank %}
    {{ 'magnific-popup.css' | asset_url | stylesheet_tag }}
    <div class="grid-block column-2">
      <div class="flex-container">
        <div class="item grid-content flex-container" style="background-color:{{ section.settings.col1_bg_color }};">
          <div class="inner">
            {%- if section.settings.col1_title != blank -%}
              <h3>{{ section.settings.col1_title }}</h3>
            {%- endif -%}
            {%- if section.settings.col1_desc != blank -%}
              <p>{{ section.settings.col1_desc }}</p>
            {%- endif -%}
            {%- if section.settings.col1_button_text != blank -%}
              <a
                id="btnCogsworthForm"
                href="{{ section.settings.col1_button_url }}"
                class="btn">{{ section.settings.col1_button_text }}</a>
              <div style="display: none;">
                <div id="cogsworthFormPopup" class="white-popup-block">
                  <div class="popup-content-wrap">
                    <div
                      class="cogsworth-block"
                      data-cogsworth-endpoint="ck7x5px3r009f0nx7aqzw16m4"
                      data-cogsworth-type="iframe"></div>
                  </div>
                </div>
              </div>
            {%- endif -%}
          </div>
        </div>
        <div class="item grid-thumb">
          {%- if section.settings.colum_grid_banner_img != blank -%}
            <img
              width="560"
              height="398"
              src="{{ section.settings.colum_grid_banner_img | img_url: '800x' }}"
              loading="lazy"
              alt="Treatment Banner">
          {%- endif -%}
        </div>
      </div>
    </div>
    <script src="https://embed.cogsworth.com/1.0.1/index.min.js" defer="defer"></script>
    <script>
      $(window).on('load', function() {
        $('#btnCogsworthForm').magnificPopup({type: 'inline', midClick: true, mainClass: 'mfp-fade', fixedContentPos: true});
      });
    </script>
  {% endif %}