{{ 'shortcuts-widget.css' | asset_url | stylesheet_tag }}
<script src="{{ 'shortcuts.widget-api.js' | asset_url }}" defer="defer"></script>
<script defer="defer">
    var Shortcuts = function (target, config) {
        var me = this;
        me.initializeWidgets = function () {
            return window.shortcuts.widgets.init({
                version: config.apiVersion,
                apiUrl: config.apiUri,
                widgetUrl: config.widgetBaseUri + '/' + config.culture,
                consumerKey: config.consumerKey,
                consumerSecret: config.consumerSecret,
                enableRegistrationCode: true,
                protocol: 'https',
                widgetCredential: {
                    '*': {
                        accessToken: config.accessTokenKey,
                        accessTokenSecret: config.accessTokenSecret
                    }
                },
                authenticationUrl: config.authenticationUrl,
                apiLambdaBaseUrl: config.apiLambdaBaseUrl,
                paymentGatewayUrl: config.paymentGatewayUrl
            }).then(function () {
                shortcuts.widgets.handlers.showAlert = function (message) {
                    console.log(message);
                    //jQuery('<span class="shortcutswidget-cc-msg error">' + message + '</span>').insertAfter('#stripeCardElementContainer');
                };
            });
        }

        me.renderServiceSelectionWidget = function (target, siteId) {
            target.on(shortcuts.widgets.events.WIDGET_DONE, function () {
                target.shortcutsWidget(config.widgetPath, { siteId: siteId });
            });
            return target.shortcutsWidget(config.widgetPath, { siteId: siteId });
        }

        me.initializeApplication = function (target, siteId) {
            return me.initializeWidgets().then(
                function () {
                    me.renderServiceSelectionWidget(target, siteId);
                });
        }

        me.initializeApplication($(target), config.siteId);
    }

    $(document).ready(function(){
        for (var i in window.deferredFunctions) {
            window.deferredFunctions[i]();
        }
    });
</script>
<script defer="defer">
    window.deferredFunctions = [];
    deferredFunctions.push(function () {
        var shortcuts = new Shortcuts("#{{widgetcontainer}}", {
            widgetBaseUri: "{{ settings.shortcuts_widget_base_uri }}",
            apiUri: "pos.shortcutssoftware.com/webapi",
            apiVersion: '{{ settings.shortcuts_api_version }}',
            culture: 'en-us',
            consumerKey: "{{ settings.shortcuts_consumer_key }}",
            consumerSecret: "{{ settings.shortcuts_consumer_secret }}",
            accessTokenKey: "{{ settings.shortcuts_access_token_key }}",
            accessTokenSecret: "{{ settings.shortcuts_access_token_secret }}",
            siteId: '{{ page.metafields.global.salon_shortcuts_id }}',
            widgetPath: '{{widgetpath}}',
            {% if page.metafields.enable_shortcuts_payment %}
                authenticationUrl: 'https://pos-api.shortcutssoftware.com/authenticate',
        paymentGatewayUrl: 'https://pos-api.shortcutssoftware.com/stripe/',
        apiLambdaBaseUrl: 'https://pos-api.shortcutssoftware.com',
        enableRegistrationCode: true,
        enableBookingOnBehalf: true
            {% endif %}
        });
    });
    var observer = new MutationObserver(function (mutations) {
        mutations.forEach(function (mutation) {
            if (mutation.addedNodes && mutation.addedNodes.length > 0) {
                var hasClass = [].some.call(mutation.addedNodes, function (el) {
                    if (el.classList) {
                        return el.classList.contains('sw-widget-container-employee-meet-the-team');
                    }
                });
                if (hasClass) {
                    document.getElementById('salonServiceHeader').style.display = 'none';
                    document.getElementById('salonServiceMessage').style.display = 'none';
                    document.getElementById('booking-service-selection-list').style.marginTop = '50px';
                }
            }
        });
    });
    var config = {
        attributes: true,
        childList: true,
        characterData: true
    };
    $(document).ready(function () {
        if ($('#booking-service-selection-list').length > 0) {
            observer.observe(document.getElementById('booking-service-selection-list'), config);
        }
    });
</script>
<div class="widget-holder">
    <div id="{{widgetcontainer}}" class="widget-container"></div>
</div>