{{ 'find-salon-treatment.css' | asset_url | stylesheet_tag }}
{%- capture find_salon_treatment_block -%}
<div class="treatment-block">
  <div class="page-width">
    <div class="header">
      {%- if section.settings.block_title != blank -%}
        <h2 class="text-center">{{ section.settings.block_title }}</h2>
      {%- endif -%}
    </div>
    {%- if section.blocks.size > 0 -%}
    <div class="full-width-banner-slider">
      <div class="hSlider-for">
      {%- for block in section.blocks -%}
      {% assign hSlideIndex = forloop.index0 %}
      <div class="item slide-item-secondary hslider-index{{hSlideIndex}}" data-slick-img="{{ block.settings.desktop_image_sec | img_url: '1400x', format: 'pjpg' }}">
        <div class="slide-image">
          <picture>
            {%- if block.settings.mobile_image_sec != blank -%}
            <source srcset="{{ block.settings.mobile_image_sec | img_url: '1000x', format: 'pjpg' }}" media="(max-width: 768px)">
            {%- else -%}
            <source srcset="{{ block.settings.desktop_image_sec | img_url: '1000x', format: 'pjpg' }}" media="(max-width: 768px)">
            {%- endif -%}
            <source srcset="{{ block.settings.desktop_image_sec | img_url: '1400x', format: 'pjpg' }}" media="(min-width: 769px) and (max-width: 1400px)">
            <source srcset="{{ block.settings.desktop_image_sec | img_url: '1900x', format: 'pjpg' }}" media="(min-width: 1401px) and (max-width: 1950px)">
            <img width="1150" height="647" src="{{ block.settings.desktop_image_sec | img_url: '1400x', format: 'pjpg' }}" alt="{{ block.settings.desktop_image_sec.alt | escape }}">
          </picture>
        </div>
        <div class="content" id="slide_{{block.id }}">
          {%- if block.settings.title_sec != blank -%}
          <h1 style="color: {{ block.settings.slider_title_color_sec}};">{{ block.settings.title_sec }}</h1>
          {%- endif -%}
          <div class="content-bottom">
            {%- if block.settings.subtext_sec != blank -%}
            <h2 style="color: {{ block.settings.slider_color_sec}}" class="{%- if block.settings.subtext_sec_mob != blank -%}desktop{%- endif -%}">{{ block.settings.subtext_sec }}
            </h2>
            {%- endif -%}
            {%- if block.settings.subtext_sec_mob != blank -%}
            <h2 class="mobile" style="color: {{ block.settings.slider_color_sec}}">{{ block.settings.subtext_sec_mob }}
            </h2>
            {%- endif -%}
            {%- if block.settings.extra_info_sec == blank -%}
            {%- if block.settings.button_sec != blank -%}
            <a style="background-color: {{ block.settings.slider_btn_bg_color2}}; border-color: {{ block.settings.slider_btn_border_color2}};  color: {{ block.settings.slider_btn_color2_sec }}; margin-left:0;" href="{{ block.settings.slider_url_sec }}" class="btn"> {{ block.settings.button_sec }} </a>
            {%- endif -%}
            {%- endif -%}
              {%- if block.settings.extra_info_sec != blank -%}
              <span style="color: {{ block.settings.slider_color_sec}}" class="text-below-caption">{{ block.settings.extra_info_sec }}
                {%- if block.settings.button_sec != blank -%}
              <a  style="background-color: {{ block.settings.slider_color_sec}}; border-color: {{ block.settings.slider_color_sec}};  color: {{ block.settings.slider_btn_color2_sec }};" href="{{ block.settings.slider_url_sec }}" class="btn"> {{ block.settings.button_sec }} </a>
              {%- endif -%}
              </span>
              {%- endif -%}
          </div>
        </div>
      </div>
      {%- endfor -%}
      </div>
    </div>
    {%- endif -%}
    {% render 'find-salon-virtual-skin-consult' %}
  </div>
</div>
{%- endcapture -%}
{{ find_salon_treatment_block | strip_newlines }}
<script>
  {% if section.blocks.size > 0 %}
    {% for block in section.blocks %}
    {%- if block.type == "full-width-slide" -%}
    {%- if block.settings.banner_switch != blank -%}
        var css = '#slide_{{block.id }} .btn:hover { border-color: {{ block.settings.btn_border_color_hover}} !important; color: {{ block.settings.slider_color2 }} !important; background: {{ block.settings.btn_bg_color_hover }} !important; }';
        var head = document.head || document.getElementsByTagName('head')[0],
          style = document.createElement('style');
      head.appendChild(style);
      style.type = 'text/css';
      if (style.styleSheet){
        // This is required for IE8 and below.
        style.styleSheet.cssText = css;
      } else {
        style.appendChild(document.createTextNode(css));
      }
      {% endif %}
    {%- elsif block.type == "full-width-slide2" -%}
    {%- if block.settings.banner_switch_sec != blank and block.settings.title_sec != blank -%}
       var words = $("#slide_{{block.id }} h1").html().split("<br>");
        $("#slide_{{block.id }} h1").empty();
        $.each(words, function(i, v) {
            $("#slide_{{block.id }} h1").append($("<span>").text(v));
        });

      var css = '#slide_{{block.id }} .btn:hover { border-color: {{ block.settings.slider_btn_border_color2}} !important; color: {{ block.settings.slider_color2_sec }} !important; background-color: {{ block.settings.btn_bg_color_hover2 }} !important; } #slide_{{block.id }} h1 span {background-color: {{ block.settings.slider_title_bgcolor_sec }} }';
      var head = document.head || document.getElementsByTagName('head')[0],
          style = document.createElement('style');

      head.appendChild(style);

      style.type = 'text/css';
      if (style.styleSheet){
        // This is required for IE8 and below.
        style.styleSheet.cssText = css;
      } else {
        style.appendChild(document.createTextNode(css));
      }
    {%- endif -%}
      {%- endif -%}
   {% endfor %}
  {% endif %}
  $(document).ready(function() {
    $('.hSlider-for').on('init', function(event, slick){
      $('div.full-width-banner-slider').css('height', 'auto');
      $('.hSlider-nav').css('bottom', '0');
    });

 $('.hSlider-for').on('afterChange', function(event, slick, currentSlide) {
  $('.hSlider-nav').slick('slickGoTo', currentSlide);
  var currrentNavSlideElem = '.slider-nav .slick-slide[data-slick-index="' + currentSlide + '"]';
  $('.hSlider-nav .slick-slide.is-active').removeClass('is-active');
  $(currrentNavSlideElem).addClass('is-active');
 });

 $('.hSlider-nav').on('click', '.hSlider-for', function(event) {
  event.preventDefault();
  var goToSingleSlide = $(this).data('slick-index');

  $('.hSlider-for').slick('slickGoTo', goToSingleSlide);
 });

   $('.hSlider-for').on('beforeChange', function(event, slick, currentSlide, nextSlide){
        var nextslideitem = nextSlide+1;
        var targetSlide = $('.hslider-index'+nextslideitem);
        if($(targetSlide).find('div.slide-image img').length < 1){
          var offScrnImg = $(targetSlide).attr('data-slick-img');
          $(targetSlide).find('div.slide-image picture').append('<img src="'+offScrnImg+'" alt="" />');
        }
    });  

    var slideInt = parseInt({{ section.settings.autoplay_int }});
    $('.hSlider-for').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      //autoplaySpeed: slideInt,
      arrows: true,
      autoplay: true,
      dots:false,
      fade: false,
      lazyLoad: 'ondemand',
      adaptiveHeight: true,
      responsive: [
        {
          breakpoint: 768,
          settings: {
            autoplay: true
          }
        }
      ]
    });
  });
</script>
{% schema %}
  {
    "name": "Treatment Block",
    "settings": [
      {
        "type": "text",
        "id": "block_title",
        "label": "Block Title"
      },
      {
        "type": "header",
        "content": {
          "en": "Slider Settings"
        }
      },
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Slider Autoplay"
      },
      {
         "type": "select",
         "id": "autoplay_int",
         "options": [
            { "value": "1000", "label": "1 second"},
            { "value": "2000", "label": "2 seconds"},
            { "value": "3000", "label": "3 seconds"},
            { "value": "4000", "label": "4 seconds"},
            { "value": "5000", "label": "5 seconds"},
            { "value": "6000", "label": "6 seconds"},
            { "value": "7000", "label": "7 seconds"},
            { "value": "8000", "label": "8 seconds"},
            { "value": "9000", "label": "9 seconds"},
            { "value": "10000", "label": "10 seconds"}
         ],
         "label": "Autoplay interval",
         "default": "2000"
      },
      {
        "type": "header",
        "content": {
          "en": "Grid Column"
        }
      },
      {
        "type": "checkbox",
        "id": "gridColCheckbox",
        "label": "Show Grid Column",
        "default": true
      },
      {
        "type": "color",
        "id": "col1_bg_color",
        "label": "Grid Column Background Color",
        "default": "#001E37"
      },
      {
        "type": "text",
        "id": "col1_title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "col1_desc",
        "label": "Description"
      },
      {
        "type": "text",
        "id": "col1_button_text",
        "label": "Button",
        "default": "Book Now"
      },
      {
        "type": "url",
        "id": "col1_button_url",
        "label": "Link"
      },
      {
        "type": "image_picker",
        "id": "colum_grid_banner_img",
        "label": "Banner Image"
      }
    ],
    "blocks": [
      {
        "type": "full-width-slide2",
        "name": "Slider",
        "settings": [
          {
            "id" : "banner_switch_sec",
            "type" : "checkbox",
            "label" : "Enable",
            "default" : true
          },
          {
            "type": "image_picker",
            "id": "desktop_image_sec",
            "label": "Desktop Image",
            "info": "Landscape image"
          },
          {
            "type": "image_picker",
            "id": "mobile_image_sec",
            "label": "Mobile Image",
            "info": "Square image"
          },
          {
            "type": "url",
            "id": "video_url_sec",
            "label": "Video URL"
          },
          {
            "type": "text",
            "id": "title_sec",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "subtext_sec",
            "label": "Captions"
          },
          {
            "type": "textarea",
            "id": "subtext_sec_mob",
            "label": "Caption For Mobile"
          },
          {
            "type": "text",
            "id": "extra_info_sec",
            "label": "Text Below Caption"
          },
          {
            "type": "text",
            "id": "button_sec",
            "label": "Button",
            "default": "Go"
          },
          {
            "type": "url",
            "id": "slider_url_sec",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "slide_Nav_Text_sec",
            "label": "Slider Navigation Text"
          },
          {
            "type": "header",
            "content": {
              "en": "Normal Styles"
            }
          },
          {
            "type": "color",
            "id": "slider_title_color_sec",
            "label": "Slider title Color",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "id": "slider_title_bgcolor_sec",
            "label": "Slider title Background Color",
            "default": "#001E37"
          },
          {
            "type": "color",
            "id": "slider_color_sec",
            "label": "Global Text Color",
            "default": "#001E37"
          },
          {
            "type": "color",
            "id": "slider_btn_border_color2",
            "label": "Button Border Color",
            "default": "#001E37"
          },
          {
            "type": "color",
            "id": "slider_btn_bg_color2",
            "label": "Button Background Color",
            "default": "#001E37"
          },
          {
            "type": "color",
            "id": "slider_btn_color2_sec",
            "label": "Button Text Color",
            "default": "#ffffff"
          },
          {
            "type": "header",
            "content": {
              "en": "Hover Styles"
            }
          },
          {
            "type": "color",
            "id": "btn_border_color_hover2",
            "label": "Button Border Color",
            "default": "#001E37"
          },
          {
            "type": "color",
            "id": "btn_bg_color_hover2",
            "label": "Button Background Color",
            "default": "#001E37"
          },
          {
            "type": "color",
            "id": "slider_color2_sec",
            "label": "Button Text Color",
            "default": "#ffffff"
          }
        ]
      }
    ]
  }
{% endschema %}