{{ 'find-salon.css' | asset_url | stylesheet_tag }}
<div class="find-a-salon">
  <div class="page-width">
    <div class="header">
      <h1>{{ page.title }}</h1>
    </div>
    <div class="hero-content">
      <div class="flex-container column-2">
        <div class="column">
          {%- capture heroSlider -%}
            <div class="hero-slider">
              {%- assign index = 0 -%}
              {%- for block in section.blocks -%}
                {%- if block.type == "image" -%}
                  {%- if block.settings.desktop_image != blank -%}
                    <div class="item">
                      <img
                        width="575"
                        height="520"
                        src="{{ block.settings.desktop_image | img_url: '575x' }}"
                        alt="Salon Banner">
                    </div>
                  {%- endif -%}
                {%- elsif block.type == "video" -%}
                  {%- if block.settings.video_path != blank -%}
                    <div class="item">
                      <div class="flex-container video-item">
                        <video class="videoslider" controls>
                          <source src="{{ block.settings.video_path }}" type="video/mp4">
                        </video>
                      </div>
                    </div>
                  {%- endif -%}
                {%- endif -%}
              {%- endfor -%}
            </div>
          {%- endcapture -%}
          {{ heroSlider | strip_newlines }}
        </div>
        <div class="column search-module">
          {% render 'storemapper-widget' %}
        </div>
      </div>
    </div>
    {% render 'find-salon-accordion-block', link: link %}
  </div>
</div>
<script defer="defer">
  $(window).on('load',function(){
  $('.hero-slider').slick({
          dots: false,
          arrows:true,
          infinite: true,
          speed: 300,
          autoplay:false,
          pauseOnFocus:false,
          adaptiveHeight:true
      });
  });</script>
{% schema %}
  {
    "name": "Hero Slider",
    "settings": [],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "desktop_image",
            "label": "Desktop Image"
          }
        ]
      }, {
        "type": "video",
        "name": "Video",
        "settings": [
          {
            "type": "text",
            "id": "video_path",
            "label": "Video URL"
          }
        ]
      }
    ]
  }
{% endschema %}