{{ 'salon.css' | asset_url | stylesheet_tag }}
<script>
  (function() {
    var qs,
      js,
      q,
      s,
      d = document,
      gi = d.getElementById,
      ce = d.createElement,
      gt = d.getElementsByTagName,
      id = "typef_orm_share",
      b = "https://embed.typeform.com/";
    if (! gi.call(d, id)) {
      js = ce.call(d, "script");
      js.id = id;
      js.src = b + "embed.js";
      q = gt.call(d, "script")[0];
      q.parentNode.insertBefore(js, q)
    }
  })()
</script>
<div class="salon-page">
  <div class="page-width">
    <div class="header">
      <h1 id="serviceNameTitle" class="text-center">{{ page.title }}</h1>
    </div>
    <div class="hero-content">
      <div class="flex-container">
        <div class="left-column">
          <div class="slider-wrapper">
          <div class="slider">
            {%- if page.metafields.accentuate.salonimagecarousel -%}
              {%- assign index = 0 -%}
              {%- for imgSliderItem in page.metafields.accentuate.salonimagecarousel -%}
                {%- if page.metafields.accentuate.salon_featured_slider_video[index] != blank -%}
                  <div class="item">
                    <video
                      id="vid{{index}}"
                      class="videoslider"
                      controls>
                      <source src="{{ page.metafields.accentuate.salon_featured_slider_video[index] }}" type="video/mp4">
                    </video>
                  </div>
                {%- elsif page.metafields.accentuate.salonimagecarousel[index] -%}
                  <div class="item">
                    <img
                      src="{{ imgSliderItem }}"
                      loading="lazy"
                      alt="slider">
                  </div>
                {%- endif -%}
                {%- assign index = index | plus: 1 -%}
              {%- endfor -%}
            {%- else -%}
              <div class="item">
                <img
                  src="{{ settings.salon_featured_image | img_url:'720x' }}"
                  laoding="lazy"
                  alt="Ellabache Salon">
              </div>
            {%- endif -%}
          </div>
          <div class="salon-content mobile-hidden">
            <div class="description">
              {%- if page.metafields.global.store_event_offer_text != blank -%}
                {%- if page.metafields.global.store_event_offer_text != blank -%}
                  {{ page.metafields.global.store_event_offer_text }}
                {%- endif -%}
              {%- endif -%}
            </div>
          </div>
        </div>
        </div>
        <div class="right-column">
          {% comment %}<div class="separator"></div>
          <h2>{{ page.title }}</h2>{% endcomment %}
          <div class="salon-buttons">
            <div class="flex-container">
              {%- if page.metafields.accentuate.enable_salon_booking != blank -%}
                {%- if page.metafields.accentuate.book_now_external_url != blank -%}
                  <div class="item">
                    <a href="#salonServices" class="button">Book Now</a>
                  </div>
                {%- else -%}
                  {%- if page.metafields.accentuate.salon_type == 'Enterprise' -%}
                    <div class="item">
                      <a href="#scs-ols-widget=sites/{{ page.metafields.global.salon_shortcuts_id }}/services" class="button">Book Now</a>
                    </div>
                  {%- else -%}
                    <div class="item">
                      <a href="#salonServices" class="button">Enquire Now</a>
                    </div>
                  {%- endif -%}
                {%- endif -%}
              {%- else -%}
                {%- if page.metafields.accentuate.salon_waiting_list != blank -%}
                  <div class="item">
                    <a href="#salonServices" class="button">Join Waiting List</a>
                  </div>
                {%- endif -%}
              {%- endif -%}
              {%- if page.metafields.accentuate.hide_shop_online_salon_button == blank -%}
                <div class="item">
                  <a href="https://www.ellabache.com.au/collections/all?{{ page.handle }}" class="button">Shop Online</a>
                </div>
              {%- endif -%}
              {%- if page.metafields.accentuate.virtual_skin_consult_hide == blank -%}
                <div class="item">
                  <a
                    id="btnCogsworthBooking"
                    href="#cogsworthBookingPopup"
                    class="button">Virtual Skin Consult</a>
                  {%- render 'cogsworth-booking' -%}
                </div>
              {%- endif -%}
              {%- if page.metafields.accentuate.hide_buy_estore_gift_card_butt == blank -%}
                {%- if page.metafields.accentuate.buy_estore_gift_card != blank -%}
                  <div class="item">
                    <a
                      class="button"
                      href="{{ page.metafields.accentuate.buy_estore_gift_card  }}"
                      target="_blank">Buy Salon Gift Card</a>
                  </div>
                {%- else -%}
                  <div class="item">
                    <a
                      class="button"
                      href="https://www.ellabache.com.au/products/gift-card?source={{ page.handle }}"
                      target="_blank">Buy e-store Gift Card</a>
                  </div>
                {%- endif -%}
              {%- endif -%}
              {%- if page.metafields.accentuate.hide_buy_salon_gift_card_butto == blank -%}
                {%- if page.metafields.accentuate.buy_salon_gift_card != blank -%}
                  <div class="item">
                    <a
                      class="button"
                      href="{{ page.metafields.accentuate.buy_salon_gift_card }}?{{ page.handle }}"
                      target="_blank">Buy Salon Gift Card</a>
                  </div>
                {%- else -%}
                  <div class="item">
                    <a
                      class="button"
                      href="https://www.ellabache.com.au/products/gift-card?{{ page.handle }}"
                      target="_blank">Buy Salon Gift Card</a>
                    {% comment %}<a class="button" href="http://giftvouchers.com.au/GiftCardsByPrice/$100-150/Ella_Bache/RetailerInfo.aspx" target="_blank">Buy Salon Gift Card</a>{% endcomment %}
                  </div>
                {%- endif -%}
              {%- endif -%}
              {%- if page.metafields.accentuate.store_facebook_link != blank -%}
                <div class="item">
                  <a
                    class="button"
                    href="{{ page.metafields.accentuate.store_facebook_link }}"
                    target="_blank">Follow us on Facebook</a>
                </div>
              {%- endif -%}
              {%- if page.metafields.accentuate.store_instagram_link != blank -%}
                <div class="item">
                  <a
                    class="button"
                    href="{{ page.metafields.accentuate.store_instagram_link }}"
                    target="_blank">Follow us on Instagram</a>
                </div>
              {%- endif -%}
              {%- if page.metafields.accentuate.store_google_review_link != blank -%}
                
                <div class="item">
                  <a
                    class="button"
                    href="{{ page.metafields.accentuate.store_google_review_link }}"
                    target="_blank">Leave a Google Review</a>
                </div>
              {%- endif -%}
            </div>
          </div>
          <div class="salon-quick-info">
            <h3 class="mobileOnly">Contact Us</h3>
            <div class="address">
              {%- if page.metafields.global.salon_address_line_1 != blank -%}
                <p>{{ page.metafields.global.salon_address_line_1 }}</p>
              {%- endif -%}
              {%- if page.metafields.global.salon_address_line_2 != blank -%}
                <p>{{ page.metafields.global.salon_address_line_2 }}</p>
              {%- endif -%}
              {%- if page.metafields.global.salon_address_line_3 != blank -%}
                <p>{{ page.metafields.global.salon_address_line_3 }}</p>
              {%- endif -%}
            </div>
            <div class="contacts">
              {%- if page.metafields.global.salon_phone != blank -%}
                <p class="phone">
                  <i class="icon">
                    <svg version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 473.806 473.806" style="enable-background:new 0 0 473.806 473.806;" xml:space="preserve">
                    <g>
                      <path d="M374.456,293.506c-9.7-10.1-21.4-15.5-33.8-15.5c-12.3,0-24.1,5.3-34.2,15.4l-31.6,31.5c-2.6-1.4-5.2-2.7-7.7-4
                                                                                                                                                                                                                                                                                                                                                    c-3.6-1.8-7-3.5-9.9-5.3c-29.6-18.8-56.5-43.3-82.3-75c-12.5-15.8-20.9-29.1-27-42.6c8.2-7.5,15.8-15.3,23.2-22.8
                                                                                                                                                                                                                                                                                                                                                    c2.8-2.8,5.6-5.7,8.4-8.5c21-21,21-48.2,0-69.2l-27.3-27.3c-3.1-3.1-6.3-6.3-9.3-9.5c-6-6.2-12.3-12.6-18.8-18.6
                                                                                                                                                                                                                                                                                                                                                    c-9.7-9.6-21.3-14.7-33.5-14.7s-24,5.1-34,14.7c-0.1,0.1-0.1,0.1-0.2,0.2l-34,34.3c-12.8,12.8-20.1,28.4-21.7,46.5
                                                                                                                                                                                                                                                                                                                                                    c-2.4,29.2,6.2,56.4,12.8,74.2c16.2,43.7,40.4,84.2,76.5,127.6c43.8,52.3,96.5,93.6,156.7,122.7c23,10.9,53.7,23.8,88,26
                                                                                                                                                                                                                                                                                                                                                    c2.1,0.1,4.3,0.2,6.3,0.2c23.1,0,42.5-8.3,57.7-24.8c0.1-0.2,0.3-0.3,0.4-0.5c5.2-6.3,11.2-12,17.5-18.1c4.3-4.1,8.7-8.4,13-12.9
                                                                                                                                                                                                                                                                                                                                                    c9.9-10.3,15.1-22.3,15.1-34.6c0-12.4-5.3-24.3-15.4-34.3L374.456,293.506z M410.256,398.806
                                                                                                                                                                                                                                                                                                                                                    C410.156,398.806,410.156,398.906,410.256,398.806c-3.9,4.2-7.9,8-12.2,12.2c-6.5,6.2-13.1,12.7-19.3,20
                                                                                                                                                                                                                                                                                                                                                    c-10.1,10.8-22,15.9-37.6,15.9c-1.5,0-3.1,0-4.6-0.1c-29.7-1.9-57.3-13.5-78-23.4c-56.6-27.4-106.3-66.3-147.6-115.6
                                                                                                                                                                                                                                                                                                                                                    c-34.1-41.1-56.9-79.1-72-119.9c-9.3-24.9-12.7-44.3-11.2-62.6c1-11.7,5.5-21.4,13.8-29.7l34.1-34.1c4.9-4.6,10.1-7.1,15.2-7.1
                                                                                                                                                                                                                                                                                                                                                    c6.3,0,11.4,3.8,14.6,7c0.1,0.1,0.2,0.2,0.3,0.3c6.1,5.7,11.9,11.6,18,17.9c3.1,3.2,6.3,6.4,9.5,9.7l27.3,27.3
                                                                                                                                                                                                                                                                                                                                                    c10.6,10.6,10.6,20.4,0,31c-2.9,2.9-5.7,5.8-8.6,8.6c-8.4,8.6-16.4,16.6-25.1,24.4c-0.2,0.2-0.4,0.3-0.5,0.5
                                                                                                                                                                                                                                                                                                                                                    c-8.6,8.6-7,17-5.2,22.7c0.1,0.3,0.2,0.6,0.3,0.9c7.1,17.2,17.1,33.4,32.3,52.7l0.1,0.1c27.6,34,56.7,60.5,88.8,80.8
                                                                                                                                                                                                                                                                                                                                                    c4.1,2.6,8.3,4.7,12.3,6.7c3.6,1.8,7,3.5,9.9,5.3c0.4,0.2,0.8,0.5,1.2,0.7c3.4,1.7,6.6,2.5,9.9,2.5c8.3,0,13.5-5.2,15.2-6.9
                                                                                                                                                                                                                                                                                                                                                    l34.2-34.2c3.4-3.4,8.8-7.5,15.1-7.5c6.2,0,11.3,3.9,14.4,7.3c0.1,0.1,0.1,0.1,0.2,0.2l55.1,55.1
                                                                                                                                                                                                                                                                                                                                                    C420.456,377.706,420.456,388.206,410.256,398.806z"></path>
                      <path d="M256.056,112.706c26.2,4.4,50,16.8,69,35.8s31.3,42.8,35.8,69c1.1,6.6,6.8,11.2,13.3,11.2c0.8,0,1.5-0.1,2.3-0.2
                                                                                                                                                                                                                                                                                                                                                    c7.4-1.2,12.3-8.2,11.1-15.6c-5.4-31.7-20.4-60.6-43.3-83.5s-51.8-37.9-83.5-43.3c-7.4-1.2-14.3,3.7-15.6,11
                                                                                                                                                                                                                                                                                                                                                    S248.656,111.506,256.056,112.706z"></path>
                      <path d="M473.256,209.006c-8.9-52.2-33.5-99.7-71.3-137.5s-85.3-62.4-137.5-71.3c-7.3-1.3-14.2,3.7-15.5,11
                                                                                                                                                                                                                                                                                                                          c-1.2,7.4,3.7,14.3,11.1,15.6c46.6,7.9,89.1,30,122.9,63.7c33.8,33.8,55.8,76.3,63.7,122.9c1.1,6.6,6.8,11.2,13.3,11.2
                                                                                                                                                                                                                                                                                                                          c0.8,0,1.5-0.1,2.3-0.2C469.556,223.306,474.556,216.306,473.256,209.006z"></path>
                    </g>
                  </svg>
                  </i>
                  <a href="tel:{{ page.metafields.global.salon_phone | remove:' ' }}">{{ page.metafields.global.salon_phone }}</a>
                </p>
              {%- endif -%}
              {%- if page.metafields.global.salon_email_address != blank -%}
                <p class="email">
                  <i class="icon">
                    <svg enable-background="new 0 0 327 227" version="1.1" viewBox="0 0 327 227" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                      <g>
                        <path d="m320.5 195.5c0 13.75-11.25 25-25 25h-264c-13.75 0-25-11.25-25-25v-164c0-13.75 11.25-25 25-25h264c13.75 0 25 11.25 25 25v164z" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="13"/>
                      </g>
                      <g>
                        <path d="m311.52 13-146.52 127.97c-0.829 0.724-2.178 0.716-2.999-0.016l-145.33-129.66" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="13"/>
                      </g>
                      <line x1="13" x2="111.34" y1="209" y2="95.745" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="13"/>
                      <line x1="208.06" x2="311" y1="99" y2="209" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="13"/>
                    </svg>
                  </i>
                  <a class="salon_email" href="mailto:{{ page.metafields.global.salon_email_address }}">{{ page.metafields.global.salon_email_address }}</a>
                </p>
              {%- endif -%}
            </div>
            {% if page.metafields.accentuate.salon_message_box != blank %}
              <div class="salon-message">
                {{ page.metafields.accentuate.salon_message_box }}
              </div>
            {% endif %}
            {%- if page.metafields.global.salon_open_monday != blank or page.metafields.global.salon_open_tuesday != blank or page.metafields.global.salon_open_wednesday != blank or page.metafields.global.salon_open_thursday != blank or page.metafields.global.salon_open_friday != blank or page.metafields.global.salon_open_saturday != blank or page.metafields.global.salon_open_sunday != blank -%}
              <div class="opening-hours">
                <h3>Opening Hours:</h3>
                {%- if page.metafields.global.salon_open_monday != blank -%}
                  <p>
                    <label>Monday</label>
                    <span>{{ page.metafields.global.salon_open_monday }}</span>
                  </p>
                {%- endif -%}
                {%- if page.metafields.global.salon_open_tuesday != blank -%}
                  <p>
                    <label>Tuesday</label>
                    <span>{{ page.metafields.global.salon_open_tuesday }}</span>
                  </p>
                {%- endif -%}
                {%- if page.metafields.global.salon_open_wednesday != blank -%}
                  <p>
                    <label>Wednesday</label>
                    <span>{{ page.metafields.global.salon_open_wednesday }}</span>
                  </p>
                {%- endif -%}
                {%- if page.metafields.global.salon_open_thursday != blank -%}
                  <p>
                    <label>Thursday</label>
                    <span>{{ page.metafields.global.salon_open_thursday }}</span>
                  </p>
                {%- endif -%}
                {%- if page.metafields.global.salon_open_friday != blank -%}
                  <p>
                    <label>Friday</label>
                    <span>{{ page.metafields.global.salon_open_friday }}</span>
                  </p>
                {%- endif -%}
                {%- if page.metafields.global.salon_open_saturday != blank -%}
                  <p>
                    <label>Saturday</label>
                    <span>{{ page.metafields.global.salon_open_saturday }}</span>
                  </p>
                {%- endif -%}
                {%- if page.metafields.global.salon_open_sunday != blank -%}
                  <p>
                    <label>Sunday</label>
                    <span>{{ page.metafields.global.salon_open_sunday }}</span>
                  </p>
                {%- endif -%}
              </div>
            {% endif %}
            {%- assign holiday = page.metafields.global.salon_open_holiday | strip_html | strip_newlines | strip -%}
            {%- if holiday.size > 0 -%}
              <div class="open-holiday">
                <h3>Special Hours</h3>
                {{ page.metafields.global.salon_open_holiday }}
              </div>
            {%- endif -%}
            {%- if page.metafields.accentuate.enable_afterpay != blank -%}
              <div class="after-pay">
                <h3>We accept
                  <i class="icon">{% render 'icon-afterpay-new' %}</i>
                </h3>
              </div>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
    <div class="salon-content desktop-hidden">
      <div class="description">
        {%- if page.metafields.global.store_event_offer_text != blank -%}
          {%- if page.metafields.global.store_event_offer_text != blank -%}
            {{ page.metafields.global.store_event_offer_text }}
          {%- endif -%}
        {%- endif -%}
      </div>
    </div>
    {%- if page.metafields.accentuate.salon_awards != blank -%}
      <div class="salon-awards">
        {{ page.metafields.accentuate.salon_awards }}
      </div>
    {%- endif -%}
    {%- if page.metafields.global.store_event_offer_image_full != blank -%}
      <div class="treatment-block">
        <div class="banner">
          <div class="banner-slider">
            {%- assign index = 0 -%}
            {%- for imgSliderItem in page.metafields.global.store_event_offer_image_full -%}
              <div class="item test">
                <picture>
                  {%- if page.metafields.global.store_event_offer_image_mobile[index] != blank -%}
                    <source
                      srcset="{{ page.metafields.global.store_event_offer_image_mobile[index] }}"
                      data-srcset="{{ page.metafields.global.store_event_offer_image_mobile[index] }}"
                      media="(max-width: 768px)">
                  {%- else -%}
                    <source
                      srcset="{{ imgSliderItem }}"
                      data-srcset="{{ imgSliderItem }}"
                      media="(max-width: 768px)">
                  {%- endif -%}
                  <img
                    width="1150"
                    height="647"
                    src="{{ imgSliderItem }}"
                    alt="Banner">
                </picture>
              </div>
              {%- assign index = index | plus: 1 -%}
            {%- endfor -%}
            {%- if page.metafields.accentuate.promo_video_slider -%}
              <div class="item item-video">
                <video
                  id="promoVideo"
                  class="promo-video"
                  controls>
                  <source src="{{ page.metafields.accentuate.promo_video_slider }}" type="video/mp4">
                </video>
              </div>
            {%- endif -%}
          </div>
        </div>
        <!-- <div style="clear:both; width:100%; overflow:hidden; height:50px;"></div> -->
      </div>
    {%- else -%}
      {%- if settings.store_event_offer_image_full != blank -%}
        <div class="treatment-block">
          <div class="banner">
            <div class="banner-slider">
              <div class="item">
                <picture>
                  {%- if settings.store_event_offer_image_mobile != blank -%}
                    <source srcset="{{ settings.store_event_offer_image_mobile | img_url:'800x' }}" media="(max-width: 768px)">
                  {%- else -%}
                    <source srcset="{{ settings.store_event_offer_image_full | img_url:'800x' }}" media="(max-width: 768px)">
                  {%- endif -%}
                  <img
                    src="{{ settings.store_event_offer_image_full | img_url:'1200x' }}"
                    loading="lazy"
                    alt="Banner">
                </picture>
              </div>
            </div>
          </div>
          <!-- <div style="clear:both; width:100%; overflow:hidden; height:50px;"></div> -->
        </div>
      {%- endif -%}
    {%- endif -%}
    <div class="generic-message">
      <h2 class="text-center">Skin Solutions</h2>
      <p>Ella Baché Australia is a proud family-run business created by Madame Baché in Paris, 1936 – a revolutionary cosmeticvchemist who believed just as we are genetically different, the same holds true of our skin. Her skincare philosophy wasvbased on the belief that because “no two skins are alike, every client’s skin is uniquely individual.</p>
      <div class="artwork-graph">
        <div class="container-block">
          <div class="flex-container">
            <div class="image">
              <img
                src="{{ 'salon-graph-artwork.jpg' | asset_url }}"
                alt="artwork"
                loading="lazy">
            </div>
            <div class="text">
              <p>At Ella Baché, we’re committed to helping every individual feel confident in their skin. We do this by
                empowering you to                                                                                                                                                                                                    without the harm.</p>
              <p>We champion this knowledge and expertise through our Skin Therapists who are trained and committed to
                achieving results.                                                                                                                                                                                                        for individual skin needs.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%- if page.metafields.accentuate.enable_salon_booking == blank -%}
  <style>
    #salonServices .sw-widget-service-book-button button {
      display: none;
    }
    .bookings .book-button a.typeform-share {
      display: none;
    }
    .append-book-button a.typeform-share {
      display: none;
    }
    @media only screen and (max-width: 749px) {
      #salon-normal-wrapper.enterprise .sw-widget-category td[data-sw-attr] {
        margin-bottom: 0;
      }
    }
  </style>
{%- endif -%}
<script>
  function check(type) {
    return $('body').find(type).length;
  }
  function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
    var expires = "expires=" + d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  }
  function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

// Read a page's GET URL variables and return them as an associative array.
  function getUrlVars() {
    var vars = [],
      hash;
    var hashes = window
      .location
      .href
      .slice(window.location.href.indexOf('?') + 1)
      .split('&');
    for (var i = 0; i < hashes.length; i++) {
      hash = hashes[i].split('=');
      vars.push(hash[0]);
      vars[hash[0]] = hash[1];
    }
    return vars;
  }
  var urlParms = getUrlVars();

// Cookie Variables -----------------------------
  var cookieValGclid = getCookie("gclid"),
    cookieValUtm_source = getCookie("utm_source"),
    cookieValUtm_medium = getCookie("utm_medium"),
    cookieValUtm_campaign = getCookie("utm_campaign"),
    cookieValUtm_term = getCookie("utm_term");
  var typeform_source = '{{ page.metafields.accentuate.typeform_source }}';
  if (typeform_source == undefined || typeform_source == '') {
    var typeform_sourceNew = '';
  } else {
    var typeform_sourceNew = '&source=' + typeform_source;
  }
  var utm_source = urlParms["utm_source"];
  if (utm_source == undefined) {
    var utm_sourceNew = '';
    if (cookieValUtm_source != "") {
      var utm_sourceNew = '&utm_source=' + cookieValUtm_source;
    }
  } else {
    var utm_sourceNew = '&utm_source=' + utm_source;

// set the utm_source query string parameter on the cookie --
    setCookie("utm_source", utm_source, 365);
  }
  var utm_medium = urlParms["utm_medium"];
  if (utm_medium == undefined) {
    var utm_mediumNew = '';
    if (cookieValUtm_medium != "") {
      var utm_mediumNew = '&utm_medium=' + cookieValUtm_medium;
    }
  } else {
    var utm_mediumNew = '&utm_medium=' + utm_medium;

// set the utm_medium query string parameter on the cookie --
    setCookie("utm_medium", utm_medium, 365);
  }
  var utm_campaign = urlParms["utm_campaign"];
  if (utm_campaign == undefined) {
    var utm_campaignNew = '';
    if (cookieValUtm_campaign != "") {
      var utm_campaignNew = '&utm_campaign=' + cookieValUtm_campaign;
    }
  } else {
    var utm_campaignNew = '&utm_campaign=' + utm_campaign;

// set the utm_campaign query string parameter on the cookie --
    setCookie("utm_campaign", utm_campaign, 365);
  }
  var utm_term = urlParms["utm_term"];
  if (utm_term == undefined) {
    var utm_termNew = '';
    if (cookieValUtm_term != "") {
      var utm_termNew = '&utm_term=' + cookieValUtm_term;
    }
  } else {
    var utm_termNew = '&utm_term=' + utm_term;

// set the utm_campaign query string parameter on the cookie --
    setCookie("utm_term", utm_term, 365);
  }
  var service = urlParms["service"];
  if (service == undefined) {
    var serviceNew = '';
  } else {
    var serviceNew = '&service=' + service;
  }
  var gclid = urlParms["gclid"];
  if (gclid == undefined) {
    var gclidNew = '';
    if (cookieValGclid != "") {
      var gclidNew = '&gclid=' + cookieValGclid;
    }
  } else {
    var gclidNew = '&gclid=' + gclid;

// set the GCLID query string parameter on the cookie --
    setCookie("gclid", gclid, 365);
  }
</script>
{%- if page.metafields.accentuate.salon_waiting_list != blank -%}{%- endif -%}
{%- if page.metafields.accentuate.salon_type == 'Enterprise' -%}
  {% comment %}{% include 'salon-enterprise' %}{% endcomment %}
  {% include 'salon-enterprise' %}
{%- elsif page.metafields.accentuate.salon_type == 'Normal' -%}
  {% render 'salon-normal' %}{%- else -%}
{%- endif -%}
<script defer="defer">
  $(window).on('load',function(){
  var pageImageSlider = check('.hero-content .slider');
  var pageImageSliderItem = $('.hero-content .slider .item').length;
  if(pageImageSlider > 0 && pageImageSliderItem > 1){
    $('.hero-content .slider').slick({
      infinite: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: true,
      dots: false
    });
    var sliderVideoLength = $('.videoslider').length;
    if(sliderVideoLength > 1){
      jQuery('.hero-content .slider').on('afterChange', function(event, slick, currentSlide, nextSlide){
        $('.videoslider').each(function() {
          $(this).get(0).pause();
        });
        var videoSlideLength = jQuery('div.slick-current').find('video').length;
        if(videoSlideLength == 1){
          var videoID = jQuery('.hero-content .slider .slick-current video').attr('id');
          if(videoID ){
            var myVideo = document.getElementById(videoID); 
            myVideo.play();
            console.log('play'+ videoID);
          }
        }
      });
    }
  }
  var treatmentSlider = check('.treatment-block .banner-slider');
  var treatmentSliderItem = $('.treatment-block .banner-slider .item').length;
  if(treatmentSlider > 0 && treatmentSliderItem > 1){
    $('.treatment-block .banner-slider').slick({
      infinite: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: true,
      dots: false,
      autoplay: true,
      adaptiveHeight: true
    });
    var sliderVideoLength = $('#promoVideo').length;
    if(sliderVideoLength >= 1){
      jQuery('.treatment-block .banner-slider').on('afterChange', function(event, slick, currentSlide, nextSlide){
        $('.promo-video').each(function() {
          $(this).get(0).pause();
        });
        var videoSlideLength = jQuery('div.slick-current').find('video').length;
        if(videoSlideLength == 1){
          var videoID = jQuery('.treatment-block .banner-slider .slick-current video').attr('id');
          if(videoID ){
            var myVideo = document.getElementById(videoID); 
            myVideo.play();
            console.log('play'+ videoID);
          }
        }
      });
    }
  }
  });</script>